build/
.git/

apiserver/build/
apiserver/example/cmd/echo/echo
apiserver/example/cmd/echoclient/echoclient
/codecahedron
/datastore
*.db
/datastore_client
/encodeworker
/encodeworker_client
/encodeworkflow
/filestore
/get
/publisher
/put
/site
/workerpool
/operations

web/resources/
web/build/

example/data/
data/
